{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width;initial-scale=1">
        <title>Closest Points</title>
    </head>
    <body style="margin: 0; font-family: sans-serif; font-size: 1rem;">
        <nav style="background:#2C2C2C;padding: 15px;display: flex;border-top: 5px solid #A30000;">
            <a href="{% url 'application:homepage' %}" style="font-size: 2rem;font-weight: 800;color: #fff;text-decoration: none;">Closest Points</a>
            <div style="margin-left: auto;padding: 10px;">
                <a href="{% url 'application:api:closestpoints-list' %}" style="text-decoration: none;padding: 10px;background: beige;border-radius: 4px;">API Endpoint</a>
                <a href="https://github.com/collinspamba/closest-points" style="margin-left: 15px;text-decoration: none;padding: 10px;background:azure ;border-radius: 4px;" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                    <span>GitHub Repository</span>
                </a>
            </div>
        </nav>
        <div style="padding: 0 15px;">
            <h1>Summary</h1>
            <p>
                A Django application that contains an API <span style="font-style: italic;"><a href="{% url 'application:api:closestpoints-list' %}">closestpoints endpoint</a></span>
                that accepts a string of comma separated points for example "(2,3), (1,1), (5,4), ..." and calculates the closest points pair. The API is built using the
                <a href="">Django REST framework</a> library, a powerful and flexible toolkit for building Web APIs, and it handles all aspects of API URL generation and authentication.
            </p>
            <h2>How It Works</h2>
            <p>
                To find the closest points pair, we calculate the distance between all the distinct pairs - the pair with the shortest distance between them is the closest points pair.
                The formula for calculating the distance between cartesian coordinates <span style="font-family: monospace; font-style: italic;">(p1, p2)</span>
                and <span style="font-family: monospace; font-style: italic;">(q1, q2)</span> is given as: <img src="{% static 'application/formula.svg' %}" style="display: block;">
            </p>
            <p>
                The closest points pair calculation is performed in the
                <a href="https://github.com/collinspamba/closest-points/blob/master/application/calculate.py" target="_blank">calculate.py</a> module in these steps:
            </p>
            <ol>
                <li style="padding-bottom: 5px;">
                    The submitted points string is validated to be a string like "(2,3), (1,1), (5,4), ..." and converted into a list.
                    During validation, we check each item in the tuples to ensure that it can be converted to a float because they will be converted into floats
                    when calculating the distances.
                </li>
                <li style="padding-bottom: 5px;">
                    For each of the points in the list, we calculate the distance between that point and all other points in the list.
                    So if a string "(2,3), (1,1), (5,4)" is submitted, we calculate and store the distances between (2,3) and (1,1), (2,3) and (5,4), and (1,1) and (5,4).
                    Steps are taken at this point to ensure that the a given points pair is not calculated twice.
                </li>
                <li style="padding-bottom: 5px;">The collected distances are then sorted in ascending order, so the first pair will have the shortest distance, which becomes our result!</li>
            </ol>
            <p style="font-style: italic;">Note: To submit a points pair string for calculation, you must have authentication credentials.</p>
        </div>
    </body>
</html>